* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000C36;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
}

header > img {
    height: 174px;
    max-width: 100%;
    margin-bottom: 10px;
    object-fit: contain;
}

header > p {
    font-family: "Carter One", sans-serif;
    font-weight: 400;
    font-size: 45px;

   
}

form {
   
    width: 328px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Slab", sans-serif;
}

form > label {
    align-self: flex-start;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    
}

.current-user {
    font-family: "Roboto Slab", sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 25px;
}

.input {
    resize: none;
    font-family: "Roboto Slab", sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: white;
    height: 78px;
    width: 325px;
    border: 0px;
    border-radius: 10px;
    background-color: #3B4877;
    margin-bottom: 36px;
    padding: 10px;
}


.radio-container {
    display: flex;
    gap: 5px;
    margin-bottom: 30px;

}

.radio-label {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: #3B4877;
    border-radius: 8px;
    border: 0px;
}

.radio-label:hover {
    transform: translate(0px, -2px)
}

input[type="radio"] {
    display: none;
}


input[type="radio"]:checked + label{
    background-color: #51E08A;
    color: black
}





.starting {
    text-align: center;
    height: auto;
    padding: 20px;
}

.starting::placeholder {
    color: #000C36;
}

.time-input {
    all: unset;
    color: white;
    border: solid #000C36 2px;
    border-radius: 10px;
    width: 30px;
    margin: 0 10px;
    padding: 2px;
}

.time-input::-webkit-outer-spin-button,
.time-input::-webkit-inner-spin-button,
.starting::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}




button {
    background-color: #51E08A;
    color: #000C36;
    border: 0px;
    height: 71px;
    width: 325px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 68px;
}








.recommendation-container {
    padding: 50px 20px;
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto Slab", sans-serif;
    box-sizing: border-box;
}

.recommendation-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 21px;
}

.recommendation-description {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 65px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    box-sizing: border-box;
}

.poster {
    width: auto;
    max-width: 90%;
    max-height: 40vh;
    height: auto;
    object-fit: contain;
    margin-bottom: 15px;
    box-sizing: border-box;
}





